#app-title {
  display: flex;
  margin: 3vh;
  text-transform: uppercase;
}
#header-text {
  text-shadow: 1px 1px 2px #000000;
  color: darkturquoise;
}
.app-title {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#caption-text {
  color: darkcyan;
}